/* Qurious Lite Styles */
.lite-container {
  font-family: 'Vollkorn', serif;
  font-size: 200%;
  min-height: 100vh;
  padding: 5%;
}

.lite-container .attribution {
  font-style: italic;
}

.lite-container .lite-footer {
  text-align: center;
}