/* Qurious Lite Mobile First Styles */

.lite-container {
  font-family: 'Vollkorn', serif;
  font-size: 1.6em;
  min-height: 100vh;
  padding-bottom: 70px;
}

.lite-container .attribution {
  font-style: italic;
}

.lite-container .lite-header {
  line-height: 32px;
  padding: 32px 0;
  text-align: center;
}


.lite-container .lite-header img {
  width: 32px;
}