/* Qurious Lite Mobile First Styles */
.lite-container {
  font-family: 'Vollkorn', serif;
  font-size: 1.6em;
  text-align: justify;
  min-height: 100vh;
  max-width: 1170px;
  padding: 6% 8%;
}

.lite-container .attribution {
  font-style: italic;
}

.lite-container .dash {
  
}

.lite-container .lite-footer {
  text-align: center;
  padding: 32px;
}

.lite-footer img {
  width: 60px;
}