/*
|--------------------------------------------------------------------------
| Main Qurious CSS Styles
|--------------------------------------------------------------------------
*/


/*
  some fonts. these need to be up top
  probably consider cutting these down to essentials
  also, there is a way to selectively load fonts via javascript, see in js files
  */
/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);*/

/*@import url(https://fonts.googleapis.com/css?family=Neuton);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:600,400);*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);




/* Your local CSS File */
/* latin */
/*@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(/fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
  src: local('Montserrat-Regular'), url(/fonts/montserrat/Montserrat-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/
/* latin */
/*@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(/fonts/montserrat/Montserrat-Bold.ttf) format('truetype');
  src: local('Montserrat-Bold'), url(/fonts/montserrat/Montserrat-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
} This didn't seem to work on mobile for some reason */





body {
  /*background-color: #fdfbf8; moved to LESS*/
  color: black;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #525252;
  /*background-color: #eee;*/
  /*text-decoration: underline;*/
}
a:hover,
a:focus {
  text-decoration: underline;
  color: black;
}


a, /* this gets rid of the dotty outline in Firefox. */
a:hover,
a:focus {
  outline: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
}


h1 {
  /* Use em to keep spacing proportional when resizing text */
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}


/* Testing some underlining fancy stuff */

/*a.custom {
  text-decoration: none;
  position: relative;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #333333 2px, #333333 3px, rgba(0, 0, 0, 0) 3px);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  a.custom {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #333333 2px, #333333 2.5px, rgba(0, 0, 0, 0) 2.5px);
  }
}
a.custom:hover, a.custom:focus {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #55abad 2px, #55abad 3px, rgba(0, 0, 0, 0) 3px);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  a.custom:hover, a.custom:focus {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #55abad 2px, #55abad 2.5px, rgba(0, 0, 0, 0) 2.5px);
  }
}
*/






.form-control {
  font-family: "Montserrat", sans-serif;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

h1 {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


/* removes outline for Bootstrap Buttons */
/*.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none !important;
  outline-style: none; }*/


/* Handy class that makes an image black and white */
img.desaturate { -webkit-filter: grayscale(100%); filter: grayscale(100%); }


/* Get rid of form input shadow in iOS */
input[type] {   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;   
}



.inline {
  display: inline-block;
}




/* Custom ampersand for kicks no longer really used */
span.amp {
  font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
  font-size: 110%;
  font-style: italic;
  color: LightGray;
}

span.quo {
  font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
  font-size: 32px;
  font-style: italic;
  color: LightGray;
}



#iron-router-progress {
    background-color: #888;
    box-shadow: 0 0 0px #888;
}



.spaced {
  padding-bottom: 30px !important;
}


.menu {
  font-size: 32px;
}


ul.menu-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}

ul.menu-group a {
  color: #999;
  text-decoration: none;
}

ul.menu-group a:hover {
  color: #787878;
}













/* This is a test front search box style without border etc
And yes it works, so we're keeping it. */
.word-search input#word {
  border: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: white;
  border-bottom: 2px solid LightGray;
  border-top: 1px #f4f4f4 solid;
  border-left: 1px #f4f4f4 solid;
  border-right: 1px #f4f4f4 solid;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}





.dont-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.word-process p {
  font-size: 2.6em;
}

.word-process p a {
  text-decoration: none;
  color: inherit;
}

.word-process p a:hover {
  text-decoration: underline;
}






/*

Belief release CSS mainly from here

Keep it clean

*/
/* Just an override for now */
.container {
  /*max-width: 700px;*/
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.full-container {
  /*margin-top: 3vh;*/
}

.title {
  font-size: 2em;
  font-weight: bold;
}


.quote {
  /*background-color: white;*/
  /*max-width: 1080px;*/
  padding-top: 16px;
  padding-bottom: 16px;
}

.quotation {
  font-size: 1em;
}

.attribution {
  /*white-space: nowrap;*/
  margin-top: 1em;
  color: #666;
}

@media (min-width: 768px) {
  .quotation {
    font-size: 1.4em;
  }

  .attribution {
    /*white-space: nowrap;*/
    font-size: 1.4em;
  }
}

@media (min-width: 1200px) {
  .quotation {
    font-size: 1.6em;
  }

  .attribution {
    /*white-space: nowrap;*/
    font-size: 1.6em;
  }
}

/*  nav */

.qurious-nav {
  margin-top: 3vh;
  /*margin-bottom: 3vh;*/
  padding-top: 22px;
  /*padding-bottom: 22px;*/
  /*border-bottom: 2px solid #efefef;*/
}



.navbar-brand img {
  height: 25px;
}

/* A list of Authors */

ul.author-list {
  /*font-size: 0;*/
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.author-list li {
  font-size: 24px;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  ul.author-list li {
    font-size: 1.2em;
  }
}

ul.author-list a,
ul.quote-list a {
  text-decoration: none;
  color: inherit;
  padding: 8px 12px;
  background-color: #f1f1f1;
  /*border-radius: 2px;*/
}

ul.author-list a:hover,
ul.quote-list a:hover {
  background-color: black;
  color: white;
}

ul.author-list li a.verified {
  background-color: #e0e0e0;
}

ul.author-list li a.verified:hover {
  background-color: black;
}


ul.quote-list {
  list-style-type: none;
  margin: 0;
  margin-top: 3vh;
  padding: 0;
}

ul.quote-list li {
  font-size: 24px;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* Experimental text style */


/* keeps things in middle */

.backdrop {

}



.backdrop form {
  margin-top: 8px;
  margin-bottom: 16px;
}




.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}




.small {
  font-size: 0.7em;
  line-height: 1.8em;
}

.small-text {
  font-size: 0.7em;
  line-height: 1.8em;
  color: #424242;
}

.flex-row {
  flex-direction: row;
}





.quote-container {
  /*max-width: 500px;*/
  /*margin-right: auto;
  margin-left: auto;*/

  display: flex;
  flex-direction: column;
  justify-content: center;

  /*border-radius: 2px
  background-color: white;*/
  margin-top: 12px;
  margin-bottom: 12px;

  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;*/
}








.header {
  /*text-align: center;*/
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: black;
}

.header a {
  color: white;
}

.header img.logo {
  max-width: 64px;
}


/*form.add-author {
  width: 300px;
}*/








/* Another navigation section clean up soon */
.navigation .brand {
  margin-right: 8px;
}



.content {
  
}

.content a {
  text-decoration: underline;
}

.spacer {
  padding-top: 4vh;
}



.s-alert-info {
    background: #444;  /* your background color here */
    color: #fff;  /* your text color here */
    border-radius: 4px;
    opacity: 0.8;
}


/*
|--------------------------------------------------------------------------
| Media Queries Main
|--------------------------------------------------------------------------
|
| Main media queries go after here.
|
*/


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .lite-quote {
    font-size: 2.2em;
  }

  ul.menu-group {
    font-size: 64px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .lite-quote {
    font-size: 2.4em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .lite-quote {
    font-size: 2.6em;
  }
}

.page-quotes {

}

.page-quote {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-name {
  margin-top: 0;
}

.view-quote {
  
}

/* This lets us do variable scaling */
/*.explore h1 {
  font-size: 7vw;
}*/

.explore {
  
}

.explore h1 a {
  color: black;
}

/* Flat-UI adds a little transition and we are diabling it here */
a {
-webkit-transition: 0s;
transition: 0s;
}

.lead {
	margin-bottom: 20px;
}

.absolute-nav {
  position: absolute;
  top: 12px;
  left: 12px;
}

.logo {

}

.home-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.narrow {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

