/* CSS declarations go here */

@import url(http://fonts.googleapis.com/css?family=Karma);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400italic);

body {
  font-family: 'Roboto Slab', serif;
  background-color: #383838;
}
 
.body-container {
  background-color: #EAEAEA;
  min-height: 400px
}

.quote { 
	font-size: 1.7em; 
	list-style-type: none; 
	padding: 1em 0 1em; 
}

.single-quote {
  font-size: 1.7em; 
  text-align: center;
  background-color: #EAEAEA;
  padding-top: 5em;
  padding-bottom: 5em;
}



.nav-block {
  position: absolute;
  opacity: 0.5;
  width: 100%;
}

.nav-block div {
  display: inline;
}

.nav-block ul {
  position: relative;
  top: 18px;
  right: 5px;
  float: right;
  overflow: hidden; 
  margin: 0; 
  padding: 0;
  list-style-type: none;
}

.nav-block li {
  float: left; margin-bottom: 0;  
  margin-right: 0.5em;
  background: #eee; 
  line-height: 1; 
  padding: 0.25em 0.5em;
}

.nav-block a {
  
}

.text-logo {
  position: relative;
  top: 10px;
  left: 12px;

}

.text-logo a {  
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 26px;
  color: black;
  text-decoration: none;
}

.homepage-title {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.homepage-title h1 {
  font-family: "Playfair Display", serif;
  font-size: 150px;
  font-style: italic;
}

.homepage-title .subtitle {
  font-size: 110%;
  top: 40px;
  color: #777;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .homepage-title h1 {
    font-size: 100px;
  }
}

.homepage-about {
  background-color: #777;
  padding-top: 100px;
  padding-bottom: 100px;
}


.elongated-dash {
    display:inline-block;
    transform:scale(3,1); /* W3C */
    -webkit-transform:scale(3,1); /* Safari and Chrome */
    -moz-transform:scale(3,1); /* Firefox */
    -ms-transform:scale(4,1); /* IE 9 */
    -o-transform:scale(5,1); /* Opera */
    position: relative;
    right: 25px;
}


.list-quote {  
  background-color: #EAEAEA;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.list-quote .quotation {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');

}

.vertical-container {
  border-top: 5px #FF6D0C solid;
  background-color: #EAEAEA;
  
  min-height: 100vh;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;

  
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
}


.content-container {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 5px #FF6D0C solid;
  background-color: #EAEAEA;
}


.single-quote .quotation {
  font-family: 'Cardo', serif;
  font-weight: 700;
  font-size: 150%
}

.single-quote .author {
  font-family: 'Cardo', serif;
  font-weight: 700;
  font-size: 80%;
  margin-top: 1em;
  color: #aaa;
  text-transform: uppercase;
}

.new-quote {
  margin-top: 50px;
}


.footer {
  color: #999;
  background-color: #383838;
  padding-top: 1.5em;
  padding-bottom: 200px;
}






.created-by {
  text-align: right;
  font-size: 1em;
  margin-right: 20px;
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .created-by {
    text-align: center;
    font-size: 1em;
    margin-right: 0;
  }
}

.created-by a {
  color: #999;
}


/* This is a custom button pack that we may not use */
.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

.btn-primary.raised {
  box-shadow: 0 3px 0 0 #007299;
}


.btn-primary.raised:active, .btn-primary.raised.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}