/* CSS declarations go here */


/*  
  some fonts
  probably consider cutting these down to essentials 
  also, there is a way to selectively load fonts via javascript, see in js files
  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
/*@import url(//fonts.googleapis.com/css?family=Cardo:400,700);*/
/* commenting because this is now replaced by images
@import url(//fonts.googleapis.com/css?family=Playfair+Display:400italic); */

@font-face {
  font-family: 'Aleo';
  src: url('/fonts/Aleo/Regular/aleo-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Aleo/Regular/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Aleo/Regular/aleo-regular-webfont.woff2') format('woff2'),
       url('/fonts/Aleo/Regular/aleo-regular-webfont.woff') format('woff'),
       url('/fonts/Aleo/Regular/aleo-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Aleo/Regular/aleo-regular-webfont.svg#aleoregular') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Aleo Light';
  src: url('/fonts/Aleo/Light/aleo-light-webfont.eot');
  src: url('/fonts/Aleo/Light/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Aleo/Light/aleo-light-webfont.woff2') format('woff2'),
       url('/fonts/Aleo/Light/aleo-light-webfont.woff') format('woff'),
       url('/fonts/Aleo/Light/aleo-light-webfont.ttf')  format('truetype'),
       url('/fonts/Aleo/Light/aleo-light-webfont.svg#aleolight') format('svg');
}




a, /* this gets rid of the dotty outline in Firefox. */
a:hover,
a:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #171717;
}

img.desaturate { -webkit-filter: grayscale(100%); filter: grayscale(100%); }



.body-container {
  background-color: #fdfbf8;
  min-height: 400px
}

.quote {
  font-size: 1.7em;
  list-style-type: none;
  padding: 1em 0 1em;
}

.single-quote {
  text-align: center;
  min-width: 320px;
}


.single-quote .quotation {
  font-family: 'Vollkorn', serif;
  letter-spacing: 0.2px;
  color: #282828;
}

.single-quote .quotation.tiny {
  font-size: 390%;
}

.single-quote .quotation.short {
  font-size: 330%;
}

.single-quote .quotation.medium {
  font-size: 220%;
}

.single-quote .quotation.long {
  font-size: 190%;
}

.single-quote .quotation.gigantic {
  font-size: 150%;
}

.single-quote .attribution {
  font-family: 'Vollkorn', serif;
  font-weight: normal;
  font-size: 120%;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #f48365;
  letter-spacing: 2px;
text-transform: uppercase;
}

/* We are going to do some themes here for the quotations */

.single-quote.default {
  background-color: #ddd;
  padding-top: 170px;
  padding-bottom: 150px;
}

.single-quote.default .attribution {

  color: #f48365;

}

.meta {
  padding-top: 10px;
  position: relative;
  top: 80px;

}

.meta .breadcrumb {
  display: inline-block;
  background-color: #5BB2B5;
}

.quote-info {
  background-color: #fdfbf8;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

/* QUOTE INFO BAR 23-09-2015 */

.info-bar {
  background-color: #5ab2b5;
  max-width: 560px;
  height: 60px;
  margin: 0 auto;
}

.info-bar .dogears {
  height: 20px;
  margin-left: 21px;
  margin-top: 7px;
}

.info-bar .views {
  height: 17px;
  margin-top: 8px;
  margin-left: 15px;
}

img.dogear-button {
  height: 28px;
  float: right;
  margin-right: 20px;
  margin-top: 16px;
}

.quote-info .dogear-button {  
  cursor: pointer;   
}

.quote-info .digit {
  font-size: 0.9em;
  font-weight: 700;
}

.dogears-num {
  position: relative;
  left: 15px;
  top: 4px;
  text-align: left;
}

.views-num {
  position: relative;
  left: 8px;
  top: 3px;
  text-align: left;

}




/* INFO BAR ORIGINAL 

/*.quote-info .dogear {  
  cursor: pointer;   
}

.quote-info img.dogear {
  margin-top: 4px;
  margin-bottom: 3px;
  height: 30px;
}

.quote-info .delete {
  cursor: pointer;
}*/


@media (max-width: 970px) {
}

@media (max-width: 767px) {

  .single-quote .quotation {
    font-size: 120%;
  }

  .single-quote .quotation.tiny {
    font-size: 190%;
  }

  .single-quote .quotation.short {
    font-size: 160%;
  }

  .single-quote .quotation.medium {
    font-size: 140%;
  }

  .single-quote .quotation.long {
    font-size: 120%;
  }

  .single-quote .quotation.gigantic {
    font-size: 100%;
  }

  .single-quote .attribution {
    font-size: 100%;
  }

  .info-bar {
    max-width: 280px;
  }
}





.homepage-title {
  padding-top: 220px;
  text-align: center;
}

.homepage-title h1 img {
  width: 600px;
}

.homepage-title .subtitle {
  font-family: 'Vollkorn', sans-serif;
  font-size: 300%;
  top: 10px;
  color: #787878;
  font-weight: normal;
  margin-bottom: 40px;
}

.front-content-row { /* comes after the title image */
  padding-bottom: 220px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .homepage-title {
    /*padding-top: 10px;*/
  }

  .homepage-title h1 {
    font-size: 70px;
  }

  .homepage-title h1 img {
    width: 280px;
  }

  .homepage-title .subtitle {
    font-size: 180%;
    top:20px;
    margin-bottom: 40px;
  }
}



/* -------------------------------- Homescreen About Section ------------*/

.home-about-row {
  background-color: #5BB2B5;
  padding-top: 50px;
  padding-bottom: 0px;
}

.home-about-text {
  font-family: 'Vollkorn', serif;
  font-size: 200%;
  color: white;
  text-align: left;
  letter-spacing: 1px;
}

.home-about-readmore {
  font-family: 'Vollkorn', serif;
  font-size: 150%;
  color: #282828;
  text-align: left;
  letter-spacing: 1px;
  padding-top: 20px;
}

.home-about-readmore a{
  color: #282828;
}

.home-about-readmore a:hover{
  text-decoration: none;
  color: #282828;
}

.home-about-readmore .icon{
position: relative;
  top: 2px;
}


img.about-logo {
  width: 200px;
  margin-right: 40px;
  float: left;
  padding-bottom: 120px;
}



@media (max-width: 767px) {
  img.about-logo {
    display: none;
  }
}

/*-------------------------Login Page-----------------------*/



/* -------------------------------- Create Page ------------*/

label {
  font-weight: normal;
  font-size: 120%;
  color: #282828;
  letter-spacing: 0.5px;
}

.form-control {
  font-size: 105%;
  color: #282828;
  letter-spacing: 0.75px;
  margin-bottom: 30px;
  border-radius: 0px;
  border-color: #999;
}

.form-control:focus {
	border-color: #787878;
	box-shadow: none;
}

.submissionText {
	font-size: 95%;
	color: #999;
	letter-spacing: 1px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 30px;
}

.submissionText a {
	color: #f48365;
}





/* -------------------------------- Now Explore stuff ------------*/
.explore-lead {
  margin-top: 100px;
  padding-bottom: 40px;
  border-bottom: #999 solid 1px;
}

.explore-lead a {
  color: #F58465;
  font-style: italic;
}

.list-quote {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
  /*cursor: pointer; */
  padding-top: 70px;
  padding-bottom: 50px;

}

/* use this eventually to do things with alternating quotes perhaps
.list-quote:nth-child(odd) {
  background-color:#eee;
}
*/

.list-quote .quotation {
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
*/
  /*overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  -o-text-overflow: ellipsis;
  -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');*/

  font-family: 'Vollkorn', serif;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 2.3em;
  margin-bottom: 20px;

  /*line-height: 1.4em;
  max-height: 2.8em;
  position: relative;*/
}


.list-quote .attribution {
  font-family: 'Vollkorn', sans-serif;
  text-transform: uppercase;
  color: #f48365;
  letter-spacing: 2px;
  font-size: 120%;
  padding-top: 30px;
}

.list-quote .contrib {
  margin-bottom: 50px;
  color: #999;
  font-size: 105%;
}

.list-quote .contrib a {
  color: #F58465;
  font-style: italic;
  letter-spacing: 0.5px;
}

.list-quote .contrib a:hover {
	text-decoration: none;
}

.list-quote .read-more {
  color: #999;
  font-size: 1.2em;
  padding-top: 30px;
  letter-spacing: 0.5px;
}

.list-quote .time-stamp {
  color: #999;
  font-size: 105%;
  letter-spacing: 0.5px;
}


.list-quote .read-more .icon {
  position: relative;
  top: 1px;
}

.list-quote .read-more a {
  color: #999;
}

.read-more a:hover {
  color: #999;
  text-decoration: none;
}


.load-more {
	width: 100%;
}

@media (max-width: 767px) {
  .list-quote .quotation {
    font-size: 1.5em;
  }
  .list-quote .attribution {
    font-size: 1em;
  }

  .list-quote .read-more {
    font-size: 1em;
  }
}

.vertical-container {
  

  min-height: calc(100vh - 54px);
  display: -webkit-flex;
  display:         flex;
  display: -ms-flexbox;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;



  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  -ms-flex-direction: row;
}


/* -------------------- Text Content Pages - About / Terms / Privacy -----------*/


.text-content p.lead {
	color: #282828;
	font-size: 150%;
	letter-spacing: 1px;
	line-height: 150%;
	margin-bottom: 20px;
}

.text-content p.body {
  font-weight: normal;
  font-size: 105%;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.text-content li {
  font-weight: normal;
  font-size: 105%;
  line-height: 170%;
  letter-spacing: 0.5px;
}


.text-content p.contact {
	font-size: 130%;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
	line-height: 140%
}

p.contact a {
	color: #282828;
	text-decoration: underline;
	letter-spacing: 1px;
}

p.contact a:hover {
	color: #999;
}



.text-content h1 {
  margin-bottom: 30px;
}

.text-content h3 {
	font-size: 150%;
	color: #999;
	letter-spacing: 1px;
	margin-top: 45px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.text-content h4 {
	letter-spacing: 0.5px;
	margin-top: 1.5em;
}


.text-content {
  padding-top: 100px;
  padding-bottom: 150px;
}

.text-content .content-column {
  /*border-left: 1px solid #999;*/
}

.text-content .content-column h1 {
  margin-top: 0;
}


@media (max-width: 767px) {
  .text-content .content-column {
    border-left: none;
  }
}

.text-page-navigation li {
  
}




.new-quote {
  margin-top: 50px;
}



/* -------------------- Footer -----------*/





.footer {
  color: #999;
  background-color: #282828;
  padding-top:40px;
  padding-bottom: 50px;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-size: 0.9em;
}


.footer a {
  color: #999;
}

.footer a:hover {
	text-decoration: none;
	color: #C1C3C6;
}


.footer-title {
  font-style: italic;
  font-size: 130%;
  display: relative;
  top: -4px;
  margin-bottom: .6em;

}


@media (max-width: 767px) {
  .footer {
    text-align: left;
  }

  .footer .footer-title img {
    width: 40px;
  }
}

.post-footer {
  background-color: #171717;
  color: #444;
}

.post-footer a {
  color: #444;
}

@media (max-width: 767px) {
  .post-footer {
    margin-right: 20px;
  }
}



/* This is a custom button pack that we may not use */
/*.btn {
  padding: 14px 24px;
  border: 0 none;
  letter-spacing: 1px;
}*/

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}



/******************************************************
  RAISED BUTTONS
******************************************************/

/*button style edited 19/08/2015*/

.btn {
	border-radius: 0px; 
	border: none;
	padding:12px 12px;
	background: #5ab2b5;
	/*letter-spacing: 2px;*/
	/*font-size: 105%;*/
  font-weight: bold;
}

.btn-primary.create {
	width: 100%;
	margin-bottom: 80px;	
/*  box-shadow: 0 3px 0 0 #007299;
*/}

.btn-primary.raised {	
/*  box-shadow: 0 3px 0 0 #007299;
*/}

.btn-primary.raised.center-block.give-me-more {
	width: 100%;
	margin-bottom: 40px;
	margin-top: 40px;
}


.btn-primary.raised:active, .btn-primary.raised.active {
  background: #33a6cc;
  box-shadow: none;
  position: relative;
  top: 3px;
}
.btn-success.raised {
  box-shadow: 0 3px 0 0 #008c52;
}
.btn-success.raised:active, .btn-success.raised.active {
  background: #39bf87;
  box-shadow: none;
  position: relative;
  top: 3px;
}
.btn-info.raised {
/*  box-shadow: 0 3px 0 0 #35a2b5;
*/}





.btn-info.raised:active, .btn-info.raised.active {
  background: #5fd4e8;
  box-shadow: none;
  position: relative;
  top: 3px;
}
.btn-warning.raised {
  box-shadow: 0 3px 0 0 #b87430;
}
.btn-warning.raised:active, .btn-warning.raised.active {
  background: #eba259;
  box-shadow: none;
  position: relative;
  top: 3px;
}
.btn-danger.raised {
  box-shadow: 0 3px 0 0 #bf4343;
}
.btn-danger.raised:active, .btn-danger.raised.active {
  background: #f26d6d;
  box-shadow: none;
  position: relative;
  top: 3px;
}



/* useraccounts button styles override as easier than messing around with code */
.at-btn {
  box-shadow: 0 3px 0 0 #007299;
  background: #0099cc;
  color: #ffffff;
}

.at-btn:active {
  position: relative; /* to avoid the whole page going up */
  top: 3px;
  background: #33a6cc;
  box-shadow: none;
}

.at-btn:hover, .at-btn:focus  {
  background: #33a6cc;
  color: white;
}



/*******************************************
     Some navigation styles
*******************************************/



.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background: #F58465;
 }

 .navbar {
  border-top: 4px #F58465 solid;
  margin-bottom: 0;
  border-bottom: 0;
  background-color: #fdfbf8;
}

.navbar-brand {
  
}

.navbar-brand img {
  height: 34px; 
  position: relative;
  top: -6px;
}

.load-more {
  margin-top: 20px;
  margin-bottom: 20px;
}



/* ---------------- Extra styles - keep em coming ------- */

/*
.at-signup-link {
  display: none;
}

.signup-container .at-signin-link {
  display: none;
}
*/

.loading {
  margin-top: 100px;
  margin-bottom: 100px;
}