/* CSS declarations go here */

@import url(http://fonts.googleapis.com/css?family=Karma);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
}


.quote { 
	font-size: 1.7em; 
	list-style-type: none; 
	padding: 1em 0 1em; 
}

.single-quote {
  font-size: 1.7em; 
  text-align: center;
  background-color: #EBEBEB;
  padding-top: 5em;
  padding-bottom: 5em;
}

.homepage-quote {
  font-size: 1.7em; 
  text-align: center;
  
  padding-top: 5em;
  padding-bottom: 5em;
  


}

.list-quote {
  font-size: 1.7em; 
  text-align: center;
  background-color: #EBEBEB;
  padding-top: 5em;
  padding-bottom: 5em;
  border-bottom: 1px solid #BBB6BB;
}

.vertical-container {
  border-top: 5px #FF6600 solid;
  background-color: #EBEBEB;
  
  height: 100vh;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.nonflex-container {
  border-top: 5px #FF6600 solid;
  background-color: #EBEBEB;
}


.landing {
  
  font-family: 'Karma', serif;
}

.navbar {
  margin-bottom: 0;
  border-bottom: none;
  padding-right: 10px;
  background-color: #323232;
}

.quotation {
  font-family: 'Karma', serif;
}

.author {
  font-family: 'Karma', serif;
  font-size: 80%;
  margin-top: 0.6em;
}

.new-quote {
  margin-top: 50px;
}


.footer {
  color: white;
  background-color: #666;
  padding-top: 5em;
  padding-bottom: 5em;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eee;
  background-color: #555;
}

.nav-block {
	position: absolute;
	top: 8px;
	left: 10px;
	opacity: 0.5;
}

.nav-block div {
	display: inline;
	margin-right: 10px;
}

.text-logo a {	
	font-family: Lobster, serif;
	font-size: 26px;
	color: black;
	text-decoration: none;
}

.navlink {

}
